# Compiled class file
*.class

# Log files
*.log

# Package files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# IDE files
.idea/
*.iml
*.ipr
*.iws
.settings/
.classpath
.project

# Build directories
/bin/
/target/
/build/

# Other
.DS_Store

# Build system-specific files
log/
gradle/
*.gradle
settings.gradle
gradlew
gradlew.bat
